{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": [
    "clsx",
    "tw"
  ],
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": true
}